.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: wheat;
}

.title-font {
  font-size: 35px;
  color: chocolate;
}

.input {
  height: 30px;
  width: 300px;
  border: none;
  border-bottom: 1px solid chocolate;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-div {
  padding-top: 20px;
}

.button {
  height: 30px;
  width: 50px;
  background-color: chocolate;
  border: 2px solid wheat;
  font-size: medium;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button-delete {
  height: 20px;
  width: 23px;
  background-color: darkred;
  color: white;
  border: 2px solid wheat;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: xx-small;
}

.ul {
  color: green;
  font-size: large;
}

